.searchBar{
    padding-bottom: 12px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchBar input{
    height: 30px;
    width: 200px;
    text-align: center;
    font-size: 1em;
    border-radius: 30px;
    transition: all 0.2s linear;
}
.searchBar input:hover, input:focus{
    scale: 1.1;
}