<div class="body">
  <div *ngIf="champion" class="container">
    <div class="championDetails">
      <div class="carrossel">
        <div class="gallery-wrapper">
          <div class="gallery">
            <div class="splashArt">
              <img *ngFor="let skin of champion.skins"
                src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{champion.id}}_{{skin.num}}.jpg"
                alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="championInfos">
        <div class="championName">
          <h1>{{champion.name}}</h1>
        </div>
        <div>
          <h2 class="title">{{champion.title}}</h2>
        </div>
        <div class="lore">
          <h1>Historia:</h1>
          <p>{{champion.lore}}</p>
        </div>
        <div class="spells">
          <h1>Habilidades:</h1>

          <div class="spellImage">
            <div class="spellDetail">
              <h1>Q</h1>
              <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{champion.spells[0].id}}.png"
                title="{{champion.spells[0].name}}" alt="">
            </div>
            <div class="spellDetail">
              <h1>W</h1>
              <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{champion.spells[1].id}}.png"
                title="{{champion.spells[1].name}}" alt="">
            </div>
            <div class="spellDetail">
              <h1>E</h1>
              <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{champion.spells[2].id}}.png"
                title="{{champion.spells[2].name}}" alt="">
            </div>
            <div class="spellDetail">
              <h1>R</h1>
              <img src="http://ddragon.leagueoflegends.com/cdn/13.4.1/img/spell/{{champion.spells[3].id}}.png"
                title="{{champion.spells[3].name}}" alt="">
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="skinsContainer">
      <div class="fade"></div>
      <div class="skinFullScreen">
          <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.id}}_{{champion.skins[0].num}}.jpg" class="skinFull-active" alt="">
        </div>
      <div class="skins">
        <div class="divTitle">
          <h1>Skins Disponiveis</h1>
        </div>
        <div class="skinsList">
          <ul class="skinsButtons">
            <li *ngFor="let skin of champion.skins">
              <button>
                <div class="skinListDetail">
                  <div>
                    <img class="skinIcons"
                      src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{champion.id}}_{{skin.num}}.jpg"
                      alt="">
                  </div>
                  <h1 class="skinName">{{skin.name}}</h1>
                </div>
              </button>
            </li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
</div>