@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    max-width: 100%;
    max-height: 100%;
}
.container{
    background-image: url(images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.header{
    display: flexbox;
    width: 100%;
    height: 330px;
    width: auto;
    justify-content: center;
    align-items: center;
    
}
.add-task{
    display: flexbox;
    padding-left: 10%;
    height: 100%;
    width: 60%;
}
.add-task h1{
    align-self: center;
    width: auto;
    max-width: 300%;
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 500px;
}
input {
    width: 80%;
    height: 55px;
    border-radius: 10px;
    padding-left: 8px;
    padding-top: 4px;
    border-style: none;
    font-size: 25px;
    color: rgba(53, 51, 51, 0.509);
    align-self: flex-end;
}