*{
    padding: 0px;
    margin: 0px;
    
}

.header{
    position: sticky;
    top: 0; 
    width: 100%;
    height: 40px;
    z-index: 9999;
}
.container{
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/910170255372683203/57145AF7CBF72AAE24980B83B1EBCBB8778D42BB/");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-bottom: 150px;
    min-height: 800px;
    overflow: hidden;
}
.container img{
    height: 100%;
    width: 100%;
}

body{
    margin: 0px;
}